.mainApp {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    margin-top: 2rem;
}
.inputCity{
  background-color: white;
}
.submitButton{
  width: 10rem;
}
.city-overview{
  margin: auto;
  text-align: center;
  width: fit-content;
}
.city-overview {
    display: grid;
    gap: 1em;
    padding: 2em;
    justify-content: center;
    margin-top: 2rem;
    background: #f7f7f7;
    box-shadow: 0px 2px 5px 1px #7777;
  }
  
  .city-overview h2 {
    margin-top: 0;
    color:dodgerblue;
  }
  
  
  .city-overview .add-city-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
     .mainApp{
      width: 100%;
      grid-template-columns: 1fr;
    }
    .city-overview{
      margin-top: 0;
    }
    .add-city-form{
      width: 95%;
      column-gap: 1rem;
    }
    .inputCity{
      width: 12rem;
    }
    .submitButton{
      width: 5rem;
    }
  }